.card {
  background: $white;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
  transition: all ease 1s;

  .card-title {
    margin: 0;
  }

  .card-body {
    padding: 1.2rem;
    
    p {
      font-size: 18px;
      color: rgba(0,0,0,.9)
    }
  }

  .card-action {
    background: $gray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .btn-secondary {
      background: $white;
      color: $black;
      &:hover {
        color: $black
      }
    }
  }
}