%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center
}

%transition-smooth {
    transition: width ease .7s
}

%shadow-smooth {
    box-shadow: 0px 3px 6px rgba(0,0,0,.1)
}

// gallery

.gallery ul {
    max-width: 1200px;
    display: flex;
    list-style: none;
}

.gallery-item {
    height: 698px;
    width: 15%;
    cursor: pointer;
    @extend %transition-smooth;
    background-size: cover;
    border: 5px solid rgba(241, 196, 15, 1)
}

.gallery-item:active, .gallery-item.open {
    width: 40%;
    transition-delay: 1s;
    transition: width ease 1s
}

.card-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text: {
        align: center
    };
    height: 100%;
    width: 100%;
    background: rgba(241, 196, 15, 0.82);
    @extend %transition-smooth
}

.card-category-title {
    color: white;
    text: {
        transform: uppercase
    };
    transform: rotate(270deg);
    margin: 100px 0;
    @extend %transition-smooth;
    font: {
        size: 70px;
        weight: 500
    }
}

.card-inner {
    font: {
        size: 22px
    };
    color: white;
    margin-bottom: 100px
}

.card-inner-title {
    font: {
        size: 50px;
        weight: 500
    };
    text: {
        transform: uppercase
    };
    color: rgba(241, 196, 15, 1);
    margin-top: 100px;
    margin-bottom: 50px
}

//refatorar aqui para baixo

.card-inner-description {
  width: 333px;
  margin: 0px 55px 150px 55px
}

// elements hiiden
.card-inner,
.link-threads,
.t-2 {
  // visibility: hidden;
  display: none
}


// gallery -item hover effects elements 

.gallery-item:active .card-inner,
.gallery-item:active .link-threads,
.gallery-item:active .t-2,
.gallery-item.open .card-inner,
.gallery-item.open .link-threads,
.gallery-item.open .t-2 {
  // visibility: visible;
  display: block
}

.gallery-item:active .card-forum,
.gallery-item.open .card-forum {
  justify-content: space-between;
  background: #1E262B;
  // padding: 0 40px;
}

.gallery-item:active .card-category-title,
.gallery-item:active .t-1,
.gallery-item.open .card-category-title,
.gallery-item.open .t-1 {
  // visibility: hidden
  display: none
}

// card-forum

.card-forum {
  @extend %centered-flex;
  // @extend %transition-smooth;
  transition: ease 1s;
  transition-property: width;
  height: 155px;
  // padding: 0px 35px; 
}

.card-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .67);
  color: #1E262B;

  font: {
    size: 20px;
    weight: 500;
  }

  ;
  @extend %centered-flex;
  @extend %shadow-smooth
}

.link-threads {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  color: rgba(255, 255, 255, .67);
  padding: 8px 20px;
  min-width: 188px;

  font: {
    size: 16px;
  }

  ;

  text: {
    transform: uppercase;
    decoration: none
  }
}