//Colors Hall of Justice base flat ui Colors
//https://flatuicolors.com/palette/defo


$white: #fff !default;
$blue:    #0069D9 !default;
$indigo:  #3F51B5 !default;
$purple:  #8e44ad !default;
$pink:    #9b59b6 !default;
$red:    #e74c3c !default;
$orange:  #e67e22 !default;
$amber:  #f1c40f !default;
$green:   #2ecc71 !default;
$green-secondary:   #27ae60 !default;
$teal:    #1abc9c !default;
$cyan:    #00BCD4 !default;
$gray:     #DDDDDD !default;
$black:    #23272B !default;

$primary:       $blue !default;
$secondary:     $gray !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $amber !default;
$danger:        $red !default;
$light:         lighten($gray, 25%) !default;
$dark:          $black !default;

//Social media colors

$bg-facebook: #3b5998;
$bg-twitter:  #00aced;
$bg-youtube:  #bb0000;
$bg-instagram: #517fa4;
$bg-tvtime:  #FFD700;
$bg-tvtime-secondary: #272727;
$bg-imdb:  #DEB522;
$bg-whatsapp: #34af23;
$bg-google:  #da4d39;

$bg-dark-gradient:  #1E262B;
$bg-dark-gradient-secondary:  #2B343A;
