/* Configurações de design comum à todos os components */
/* Createad by Allan Oliveira --> fb.com/allanadriiano */

  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: linear-gradient(to left, $bg-dark-gradient, $bg-dark-gradient-secondary, $bg-dark-gradient);
    color: $white
  }

  //revisar app.old

  .user,.forum {
    padding: 2rem 0;
    height: 100%;
  }
  h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
  }
  .text-description {
    font-size: 16px;
    color: #ccc;
    text-transform: none;
  }
  
  .nav-link {
    padding: 0;
    &:hover {
      text-decoration: none
    }
  }
  .description {
    border-top: 2px solid whitesmoke;
  }
  .description .btn {
    margin: 0 5px
  }
  .question {
    // background: #333C42!important;
    box-shadow: none;
    margin-bottom: 10px;
  }
  .question .text {
    text-decoration: none;
  }
  .container {
    padding: 0
  }
  .text-small {
    font-size: 12px
  }
  .newslleter {
    padding: 2rem 0
  }
  .copyright {
    background: #414345;
    padding: 1rem 0
  }
  
  .is-invalid {
    border-color: #e74c3c;
    transition: all ease .3s
  }
  ::placeholder {
    color: #ccc;
    font: {
      size: 14px;
    }
  }
  
  .col-form-label, legend {
    color: #414141;
    font: {
      size: 13px;
      weight: 500
    };
    text: {
      transform: uppercase
    }
  }
  
  @media only screen and (max-width: 576px) {
    body {
      background: $bg-dark-gradient
    }
    .row {
      margin: 0
    }
    .container {
      padding: 0 .3rem
    }
    .card {
      border-radius: 0
    }
    .col-md-9, .col-md-4, .col-md-3 {
      padding: 0
    }
  }