<template>
  <div class="container">
    <div class="gallery">
      <ul>
        <li 
          v-for="categories in category" 
          :key="categories.id"
          :class="{ open: active_el == categories.id}"
          class="gallery-item"
          @click="activate(categories.id)">
          <div class="card-category">
            <div class="card-category-title">
              {{ categories.name }}
            </div>
            <div class="card-inner">
              <div class="card-inner-title">
                {{ categories.name }}
              </div>
              <div class="card-inner-description">
                {{ categories.description }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    category: {
      type: Array,
      default: function () {
        return {}
      }
    }
  },
  data () {
    return {
      active_el: 3
    }
  },
  methods: {
    activate: function(el){
      this.active_el = el
    }
  }
}
</script>

<style>

</style>
