<template>
  <div class="threads-component">
    <b-card class="mb-4 rounded comics">
      <div class="card-title py-3 text-center">
        <h1>Subcategoria nome</h1>
        <div class="chip">
          <i class="material-icons">comment</i> 456
        </div>
      </div>
      <div class="card-footer">
        <h2>Descrição</h2>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
