<template>
  <ul class="galleries-component">
    <li
      v-for="gallery in galleries"      
      :key="gallery.id"      
      :class="[{'open': active_el == gallery.id}, gallery.categoryName || 'two']"      
      :style="{ background: `url('${gallery.imgUrl || 'https://placehold.it/500x700'}')no-repeat, center`}"
      class="item"
      @click="activate(gallery.id)"
    >
      <hall-gallery-item :gallery="gallery"/>
    </li>
  </ul>
</template>

<script>
import HallGalleryItem from "./GalleryItem";

export default {
  name: "Galleries",
  components: {
    HallGalleryItem
  },
  props: {
    galleries: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      active_el: 2
    };
  },
  methods: {
    activate: function(el) {
      this.active_el = el;
    }
  }
};
</script>

<style lang="scss">
@import './scss/variables';
@import './scss/placeholders';
@import './scss/colors';
@import './scss/categories';

.galleries-component {
  list-style: none;
  padding: 0;
  display: flex;
  width: $gallery-width;
  max-width: $gallery-max-width;
  @extend %shadow-smooth;

  .item {
    height: $gallery-item-height;
    width: $gallery-item-width;
    min-width: $gallery-item-min-width;
    cursor: pointer;
    background-repeat: no-repeat;
    @extend %transition-all-smooth;

    &:active,
    &.open {
      width: $gallery-open-active-width;
      @extend %transition-all-smooth;
    }

    &:active .threads,
    &.open .threads {
      min-width: 420px;
      justify-content: space-between;
      // background: $dark; // background optional
    }

    &:active .title,
    &.open .title {
      display: none;
    }

    &:active .category,
    &.open .category {
      background: $dark-with-transparency;
    }

    &:active .category .inner,
    &.open .category .inner,
    &:active .category .threads .btn-action,
    &.open .category .threads .btn-action {
      display: block;
    }

  }
}
</style>
