<template>
  <div class="category">
    <div class="title">{{ gallery.name }}</div>
    <div class="inner">
      <div class="inner-title">{{ gallery.name }}</div>
      <div class="inner-description">{{ gallery.description }}</div>
    </div>
    <div class="threads">
      <a 
        href="#" 
        class="btn-action">
        View Categories
      </a>
      <div class="icon">
        <i class="material-icons">forum</i>
        <span>{{ gallery.threads_count || '261' }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GalleryItem",
  props: {
    gallery: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import './scss/variables';
@import './scss/placeholders';
@import './scss/colors';

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @extend %transition-all-smooth;

    .title {
      color: $white;
      text-transform: uppercase;
      transform: rotate(270deg);
      margin-top: 300px;
      font: {
        size: 70px;
        weight: 400;
      }
    }

    .inner {
      font-size: 20px;
      margin-top: 70px;
      color: $white;
      display: none;

      .inner-title {
        width: 420px;
        text-transform: uppercase;
        font: {
          size: 50px;
          weight: 500;
        }
      }

      .inner-description {
        width: 420px;
        padding: 50px;
        font-weight: 300;
      }
    }

    .threads {
      height: 155px;
      min-height: 155px;
      @extend %transition-all-smooth;
      @extend %flex-center;
      padding: 0px 50px;

      .icon {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        background: $white-with-transparency;
        color: $dark;
        @extend %flex-center;
        @extend %shadow-smooth;
        span {
          font: {
            size: 22px;
            weight: 500
          }
        }
      }

      .btn-action {
        border: 1px solid $white-with-transparency;
        border-radius: 3px;
        color: $white-with-transparency;
        padding: 8px 20px;
        min-width: 150px;
        font-size: 16px;
        display: none;
        text: {
          transform: uppercase;
          decoration: none;
        }
      }
    }
  }
</style>
