<template>
  <div>
    <b-form class="auth">
      <b-card no-body>
        <div class="card-logo-content">
          <div class="card-logo">
            <div class="img-login">
              <img 
                src="http://aonix.com.br/hallweb.png?12344" 
                alt="hall-of-justice">
            </div>
          </div>
        </div>
        <b-card-body>
          <b-form-group label="Email">
            <input
              v-validate="'required|email'"
              v-model="user.username"
              :class="{ 'form-control': true, 'is-invalid': errors.has('email') }"
              data-vv-as="email"
              type="email"                
              name="email"
              placeholder="Digite seu email!">
            <span
              v-show="errors.has('email')"
              class="invalid-feedback">
              {{ errors.first('email') }}</span>
          </b-form-group>
          <b-form-group label="Senha">
            <input
              v-validate="'required'"
              v-model="user.password"
              :class="{ 'form-control': true, 'is-invalid': errors.has('password') }" 
              data-vv-as="senha"
              type="password"
              name="password"
              placeholder="Digite sua senha!">
            <span
              v-show="errors.has('password')"
              class="invalid-feedback">
              {{ errors.first('password') }}</span>
          </b-form-group>
          <div class="card-body card-action">
            <b-form-group class="float-right">
              <b-button 
                variant="outline-secondary" 
                class="btn-rounded" 
                @click="onReset">Resetar</b-button>
              <b-button
                :disabled="!isValid"
                variant="outline-primary"                
                class="btn-rounded"
                @click="doLogin">Fazer Login</b-button>
            </b-form-group>
          </div>
        </b-card-body>
      </b-card>
    </b-form>
  </div>
</template>

<script>
export default {
  layout: 'auth',
  name: 'Login',
  data () {
    return {
      user: {}
    }
  },
  computed: {
    isValid () {
      const user = this.user
      return user
    }
  },
  methods: {
    async doLogin(){
      await this.$auth.login({
        data: this.user
      })
      this.$router.push({
        path: '/forum'
      })
    },
    onReset (evt) {
      evt.preventDefault()
      this.user = {}
      this.$validator.reset()
    }
  },
}
</script>

<style lang="scss" scoped>

.card {
  .card-logo-content {
    background: url('https://geekandsundry.com/wp-content/uploads/2016/02/DCreadComics.png');
    background-size: cover;
    height: auto;
    margin-bottom: 10px; 

    .card-logo {
      background: rgba(0,0,0,.7);
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      .img-login {
        img {
          height: 60px;
        }
      }
    }
  }
}
</style>
