<template>
  <div>
    <b-form class="auth">
      <b-card 
        class="card-register-content" 
        no-body>
        <div class="card-body">
          <b-form-group label="Nome">
            <input
              v-validate="'required|alpha_spaces'"
              v-model="user.name"
              :class="{ 'form-control':true, 'is-invalid': errors.has('name') }"
              data-vv-as="nome"                      
              type="text"
              name="name"
              placeholder="Digite seu nome!">
            <span
              v-show="errors.has('name')"
              class="invalid-feedback">
              {{ errors.first('name') }}</span>
          </b-form-group>
          <b-form-group label="Username">
            <input 
              v-validate="'required|min:5|alpha_dash'"
              v-model="user.username"
              :class="{ 'form-control':true, 'is-invalid': errors.has('username') }"
              data-vv-as="username"            
              type="text"
              name="username"
              placeholder="Digite seu username!">
            <span
              v-show="errors.has('username')"
              class="invalid-feedback">
              {{ errors.first('username') }}</span>
          </b-form-group>
          <b-form-group label="Email">
            <input 
              v-validate="'required|email'"
              v-model="user.email"
              :class="{ 'form-control':true, 'is-invalid': errors.has('email')}"
              data-vv-as="email"
              type="email"
              name="email"
              placeholder="Digite seu email!">
            <span
              v-show="errors.has('email')"
              class="invalid-feedback">
              {{ errors.first('email') }}</span>
          </b-form-group>
          <b-form-group label="Senha">
            <input 
              v-validate="'required|min:5'"
              ref="password"
              v-model="user.password"
              :class="{ 'form-control': true, 'is-invalid': errors.has('password') }"
              data-vv-as="senha"
              type="password"
              name="password"
              placeholder="Crie sua senha!">
            <span
              v-show="errors.has('password')"
              class="invalid-feedback">
              {{ errors.first('password') }}</span>
          </b-form-group>
          <b-form-group label="Redigite sua senha">
            <input 
              v-validate="'confirmed:password'"
              v-model="user.r_password"
              :class="{ 'form-control': true, 'is-invalid': errors.has('r_password') }"
              data-vv-as="redigitar senha"
              type="password"
              name="r_password"
              placeholder="Redigite sua senha!">
            <span
              v-show="errors.has('r_password')"
              class="invalid-feedback">
              {{ errors.first('r_password') }}</span>
          </b-form-group>
          <div class="card-body card-action">
            <b-form-group class="float-right">
              <b-button 
                variant="secondary"
                class="btn-rounded"
                @click="onReset">Resetar</b-button>
              <b-button
                :disabled="!isValid"
                variant="primary"
                class="btn-rounded"
                @click="onSubmit">Cadastrar</b-button>
            </b-form-group>
          </div>
        </div>
        
      </b-card>
    </b-form>
  </div>
</template>

<script>
export default {
  layout: 'auth',
  name: 'Register',
  data () {
    return {
        user: {}
    }
  },
  computed: {
    isValid () {
      const user = this.user
      return user
    }
  },
  methods: {
    onReset (evt) {
        evt.preventDefault()
        this.user = {}
        this.$validator.reset()
    },
    async onSubmit (evt) {
      evt.preventDefault()
      await this.$axios.post('api/register', this.user)
      this.$auth.login({
        data: {
          username: this.user.email,
          password: this.user.password
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>

.card-register-content {
  background: url('https://the-artifice.com/wp-content/uploads/2017/02/read-comics-superman-700x418.jpg') top;
  background-size: cover;
  transition: all ease .2s;

  .card-body {
    background: rgba(255,255,255,.93);

    .form-control {
      background: transparent
    }
  }
}
</style>
