@import "colors";

// colors categories from one to five

$categories: (
  one: ($red, $red-with-transparency),
  two: ($purple, $purple-with-transparency),
  three: ($yellow, $yellow-with-transparency),
  four: ($blue, $blue-with-transparency),
  five: ($green, $green-with-transparency)
);

@each $name, $colors in $categories {
  .#{$name} {
    // border: 8px solid nth($colors, 1);
    .category {
      background: nth($colors, 2);
      .inner {
        .inner-title {
          color: nth($colors, 1)
        }
      }
    }
    &:active .category .threads .icon,
    &.open .category .threads .icon {
      background: nth($colors, 1);
      color: $white-with-transparency;
    }
  }
}