// colors for categories

$red: rgba(214, 48, 49, 1);
$red-with-transparency: rgba(214, 48, 49, 0.82);

$purple: rgba(142, 68, 173, 1);
$purple-with-transparency: rgba(142, 68, 173, 0.82);

$yellow: rgba(241, 196, 15, 1);
$yellow-with-transparency: rgba(241, 196, 15, 0.82);

$blue: rgba(6, 82, 221, 1);
$blue-with-transparency: rgba(6, 82, 221, 0.82);

$green: rgba(32, 191, 107, 1);
$green-with-transparency: rgba(32, 191, 107, 0.82);

$dark: rgba(30, 38, 43, 1);
$dark-with-transparency: rgba(30, 38, 43, 0.82);

$white: rgba(255, 255, 255, 1);
$white-with-transparency: rgba(255, 255, 255, 0.67);