// center flexbox
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// shadow smooth
%shadow-smooth {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

// transition width smooth
%transition-all-smooth {
  transition: all ease 0.4s;
}