// config gallery

// ul element
$gallery-width: 100%;
$gallery-max-width: 1170px;

// li elements
$gallery-item-height: 600px;
$gallery-item-width: 15%;
$gallery-item-min-width: 188px;

// li open and active
$gallery-open-active-width: 40%;

