<template>
  <div>
    <hall-menu-main />
    <nuxt/>
  </div>
</template>

<script>
import HallMenuMain from '~/components/Menu/MenuMain'
  export default {
    components: {
      HallMenuMain,
    }
  }
</script>
<style lang="scss" src="assets/scss/app.scss">
</style>
