<template>
  <div class="newsletter-component">
    <div class="mask">
      <nuxt />
    </div>
    <div class="newsletter-footer">
      Hall of Justice © 2019
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.newsletter-component {
  background: url("../static/bg-newsletter.jpg")no-repeat;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 300;
  color: white;
  .mask {
    background: rgba(13,10,10, .9);
    min-height: calc(100vh - 44px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .newsletter-footer {
    background: rgba(13,10,10, .9);
    padding: 10px 0;
  }
}
</style>
