<template>
  <div>
    <hall-blog-feed />
  </div>
</template>

<script>
import HallBlogFeed from '~/components/Blog/Feed'
export default {
  layout: 'blog',
  components: {
    HallBlogFeed,
  }
}
</script>

<style>

</style>

