<template>
  <div class="auth-component">
    <nuxt />
  </div>
</template>

<script>
export default {
  name: 'Auth',
}
</script>

<style lang="scss">
@import '~/assets/scss/_placeholders.scss';

.auth-component {
  @extend %flex-center;
  
  .auth {
    .card {
      width: 22vw;

      .card-body {
        padding: 1rem 1.5rem
      }

      .card-action {
        background: transparent
      }
    }

    .form-control {
      border-radius: 0;
      border: none;
      border-bottom: 2px solid #414141;
      transition: all ease .2s
    }

    $card-sizes: (
      lg: (30vw, 1600px),
      md: (50vw, 1150px)
    );

    @each $name, $card-details in $card-sizes {
      @media only screen and (max-width: nth($card-details, 2)) {
        .card {
          width: nth($card-details, 1)
        }
      }
    }

  }

  @media only screen and (max-width: 600px) {
    .auth {
      padding-top: 3rem;

      .card {
        width: calc(100vw - 1rem);
        margin: 0.5rem
      }
    }
  }
}

</style>
