<template>
  <div class="blog-component">
    <nav>menu blog</nav>
    <nuxt />
  </div>
</template>

<script>
export default {
  name: 'Blog',
}
</script>

<style lang="scss" scoped>
.blog-component {
  background: #000
}

</style>
