<template>
  <section class="forum-component">
    <nuxt />
  </section>
</template>

<script>
export default {
  name: 'Forum',
  middleware: 'auth'
}
</script>

<style lang="scss" scoped>
.forum-component {
}

</style>
