<template>
  <section class="register-component">
    <div class="register-hall-logo">
      <img 
        src="../static/hallweb.png" 
        class="brand">
    </div>
    <div class="register-title">
      Hall of justice
    </div>
    <div class="register-description">
      Olá civis, em breve estaremos com nosso site completo,
      que tal assinar nossa newsletter e ficar por dentro das novidades?
    </div>
    <div class="register-alert">
      Allan, seu cadastro está incluido na lista de civis do planeta!
    </div>
    <form class="register-content">
      <label for="">Nome</label>
      <span
        v-show="errors.has('name')"
        class="msg-error">
        {{ errors.first('name') }}
      </span>
      <input 
        v-validate="'required|alpha_spaces'"
        v-model="register.name"
        name="name"
        data-vv-as="nome"        
        type="text">

      <label for="">Email</label>
      <span
        v-show="errors.has('email')"
        class="msg-error">
        {{ errors.first('email') }}
      </span>
      <input 
        v-validate="'required|email'"
        v-model="register.email"
        name="email"
        type="email">
      <div class="register-action">
        <button 
          class="reset"
          @click="onReset">Resetar</button>
        <button 
          type="subimit"
          class="register"
          @click="createRegister">Cadastar</button>
      </div>
    </form>
  </section>

</template>

<script>
import { newsletter as http } from '../services/HttpNewsletterService';
export default {
  name: 'Newsletter',
  layout: 'newsletter',
  data () {
    return {
      register: {}
    }
  },
  methods: {
    createRegister (evt) {
      evt.preventDefault();
      http.post('u=ae81354f1e5f65644862e9782&amp;id=72c97c9204', this.register)
      .then((response) => {
        alert('success')
      })
      .catch((e) => {
        console.log(e);
        
      })
    },
    onReset (evt) {
      evt.preventDefault()
      this.register = {}
      this.$validator.reset()
    }
  }
}
</script>

<style lang="scss" scoped>

.register-component {
  width: 100%;
  max-width: 500px;
  text-align: center;

  .register-hall-logo {
    padding: 40px 0 0 0;
    img {
      &.brand {
        opacity: 0.9;
      }
    }
  }
  .register-alert {
    background: #27ae60;
    padding: 10px;
    margin: 0 10px; 
  }
  .register-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500
  }
  .register-description {
    padding: 20px 10px;
    font: {
      size: 16px;
      weight: 300
    }
  }
  .register-content {
    width: 100%;
    max-width: 500px;
    padding: 20px 10px;

    label {
      display: flex;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 0;
      position: relative;
    }
    span {
      &.msg-error {
        font-size: 12px;
        background: #ffd32a;
        position: absolute;
        padding: 5px;
        color: rgba(13,10,10, 1)
      }
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid white;
      background: transparent;
      padding: 5px;
      margin-top: 28px;
      color: white;

      &:focus {
        background: rgba(13,10,10, 1);
      }
    }

    .register-action {
      padding: 40px 0;
      display: flex;
      justify-content: flex-end;

      button {
        border: none;
        padding: 4px 20px;
        margin-left: 10px;
        &.register {
          background: #00a8ff;
          color: white
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .register-hall-logo {
      img {
        &.brand {
          width: 80px;
          height: auto;
        }
      }
    }
  }
}

</style>
