<template>
  <section class="container">
    <hall-categories 
      :galleries="categories"
      class="mt-5"
    />
  </section>
</template>

<script>
import HallCategories from '~/components/Forum/Galleries/Galleries'
export default {
  layout: 'forum',
  components: {
    HallCategories
  },
  async asyncData({ app }){
    let { data } = await app.$axios.get('forum')

    return { categories: data}
  }
}
</script>

<style>
</style>
