<template>
  <div>
    <hall-threads />
  </div>
</template>

<script>
import HallThreads from '~/components/Forum/Threads'
export default {
  name: 'Threads',
  components: {
    HallThreads
  }
}
</script>

<style>

</style>
