<template>
  <div>
    <b-navbar
      toggleable="md"
      type="dark"
      variant="dark">

      <b-container>
        <b-navbar-toggle target="nav_collapse" />
        <b-navbar-brand href="#">Hall of Justice</b-navbar-brand>

        <!--navbar items-->
        <b-collapse
          id="nav_collapse"
          is-nav>
          <b-navbar-nav>
            <b-nav-item :to="{ path: '/' }">Home</b-nav-item>
          </b-navbar-nav>

          <!--navbar items right-aligned-->
          <b-navbar-nav class="ml-auto">
            <b-nav-item :to="{ path: '/blog' }">Blog</b-nav-item>
            <b-nav-item :to="{ path: '/forum' }">Forum</b-nav-item>
            <template v-if="loggedIn">
              <b-nav-item-dropdown :text="currentUser.username">
                <b-dropdown-item @click="logout">Logout</b-dropdown-item>
              </b-nav-item-dropdown> 
            </template>
            <template v-else>
              <b-nav-item :to="{ path: '/auth/register' }">Register</b-nav-item>
              <b-nav-item :to="{ path: '/auth' }">Login</b-nav-item>
            </template>
          </b-navbar-nav>
        </b-collapse>
      </b-container>

    </b-navbar>
  </div>
</template>

<script>
export default {
  methods: {
    async logout(){
      await this.$auth.logout()
    }
  }
}
</script>

<style lang="scss">
</style>
